/* Add styles here */
body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display:grid;
    gap: 50px;
}

header{
    height: 80px;
    width: 100%;
    background-color: black;
    position:fixed;
    z-index: 999;
    display: flex;
    color: white;
    gap: 20px;
    justify-content: center;
    align-content: center;
}
main{
    width:100%;
    height:100%;
    position: relative;
    top: 100px;
    display :grip;
    gap: 50px;
}
footer{
    width: 100%;
    height: 200px;
    background-color: black;
    position: relative;
    top: 60px;
}
.ConteinerLogo{
    width: 150px;
    height: 50px;
    background-color: white;
    position: relative;
    top: 10px;
}
header >ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
header >ul>il> div{
    width: 90px;
    height: 20px;
    background-color: rgb(236, 233, 233);
    color: black;
}
.conteiner_de_conteudo{
    width: 100%;
    height: 500px;
    background-color: red;
}


@media (max-width:500px){
    header{
        height: 100px;
        display: grid;
        gap: 10px;
    }
    .ConteinerLogo{
        width: 150px;
        height: 50px;
        left: 10px;
    }
    header >ul{
        gap: 10px;
        position: relative;
        left: -20px;

    }
    
}